body {
  text-align: center;
  color: white;
  background-image: url('/images/backgrounds/stars.gif');
  background-size: 8%;
  font-family: Comic-Sans;
  animation: movebg 600s linear infinite;
}

@keyframes movebg {
  from {background-postion: bottom left;}
  to {background-postion: top right;}
}

@font-face {
  font-family: "Comic-Sans";
  src: url('/fonts/Comic-Sans.TTF');
}

a {
  color: #70a7ff;
  text-decoration: none;
}

a:hover {
  color: #2b7dff;
  text-decoration: none;
  cursor: pointer;
}
