body {
  text-align: center;
  color: black;
  background-image: url('./art/paperbg.png');
  font-family: Comic-Sans;
}

@font-face {
  font-family: "Comic-Sans";
  src: url('/fonts/Comic-Sans.TTF');
}

a {
  color: #70a7ff;
  text-decoration: none;
}

a:hover {
  color: #2b7dff;
  text-decoration: none;
  cursor: pointer;
}
