body {
  color: white;
  background-color: black;
  text-align: center;
  font-family: Comic-Sans;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@font-face {
  font-family: "Comic-Sans";
  src: url('/fonts/Comic-Sans.TTF');
}
